<div class="body">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">MSC+</h1>
        </div>
        <h3>Bem-Vindo ao MSC+</h3>

        <p>Informe seu e-mail e senha para acesso!</p>
        <form [formGroup]="form" novalidate>
            <div class="form-group">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control input-underline input-lg"
                  id="email"
                  placeholder="Seu e-mail de cadastro">
              </div>
            <button type="button" (click)="enviarEmail()" class="btn btn-primary block full-width m-b">Criar nova senha</button>

            <a href="/login"><small>Voltar para tela de login</small></a>
        </form>
    </div>
  </div>

  <!-- Mainly scripts -->
  <script src="../../../../../../assets/js/jquery-3.1.1.min.js"></script>
  <script src="../../../../../../assets/js/bootstrap.min.js"></script>
</div>
