<div id="wrapper">
  <app-menu></app-menu>

    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <!-- NAVE -->
        <app-barra-de-menu></app-barra-de-menu>
      </div>

        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
              <div class="col-lg-6">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Line Chart Example
                              <small>With custom colors.</small>
                          </h5>
                      </div>
                      <div class="ibox-content">
                          <div>
                            <app-line-chart></app-line-chart>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Bar Chart Example</h5>
                      </div>
                      <div class="ibox-content">
                          <div>
                            <app-bar-chart></app-bar-chart>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Buuble Area</h5>

                      </div>
                      <div class="ibox-content">
                          <div class="text-center">
                            <app-bubble-chart></app-bubble-chart>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Pie </h5>

                      </div>
                      <div class="ibox-content">
                          <div>
                            <app-pie-chart></app-pie-chart>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Radar Chart Example</h5>
                      </div>
                      <div class="ibox-content">
                          <div>
                            <app-radar-chart></app-radar-chart>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Doughnut Chart Example</h5>
                      </div>
                      <div class="ibox-content">
                          <div>
                            <app-doughnut-chart></app-doughnut-chart>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

</div>
