<div class="middle-box text-center animated fadeInDown">
  <h1>404</h1>
  <h2 class="font-bold">Página não encontrada</h2>

  <div class="error-desc">
    <h3>
      Desculpe, mas a página que você está procurando não foi encontrada. Tente verificar o URL em busca de erros e pressione o botão de atualização no seu navegador
      ou tente encontrar outra coisa em nosso aplicativo. Caso deseje clique no botão voltar abaixo para retorna a ultima página.
    </h3>
      <form class="form-inline m-t" role="form">
          <button type="button" onclick='history.go(-1)' class="btn btn-primary">Voltar</button>
      </form>
  </div>
</div>

<!-- Mainly scripts -->
<script src="../../../../../assets/js/jquery-3.1.1.min.js"></script>
<script src="../../../../../assets/js/bootstrap.min.js"></script>
