<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">

        <!-- PERFIL DE USUARIO LOGADO -->
        <li class="nav-header">
              <div class="dropdown profile-element"> <span>
                      <img *ngIf="usuario.imagem" alt="image" class="img-circle" src="{{baseUrlServidor}}/{{ usuario.imagem }}" style="width: 70px; height: 70px;"/>
                      <img *ngIf="!usuario.imagem" alt="image" class="img-circle" src="../../../../../assets/img/user-default.png" style="width: 70px; height: 70px;"/>
                       </span>
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ usuario.nome }}</strong>
                       </span> <span class="text-muted text-xs block">{{ usuario.perfil?.nome }} <b class="caret"></b></span> </span> </a>
                  <ul class="dropdown-menu animated fadeInRight m-t-xs">
                      <li><a href="/usuario/perfil">Profile</a></li>
                      <li class="divider"></li>
                      <li><a href="/login" (click)="logoff()">Logout</a></li>
                  </ul>
              </div>
              <div class="logo-element">
                  MSC+
              </div>
          </li>

          <!-- MENU LATERAL -->
          <li *ngFor="let item of permissoesFiltradas">
            <a *ngIf="!item.permissaoPai" href="{{baseUrlServidor}}/{{ item.url }}">
              <i class="fa fa-{{retornaicone(item.descricao) }}"></i>
              <span class="nav-label">{{ item.descricao }}</span>
              <span class="fa arrow" *ngIf="(item.descricao != 'Home' && item.descricao != 'Dashboard')"></span>
            </a>
            <ul class="nav nav-second-level" *ngIf="(item.descricao != 'Home' && item.descricao != 'Dashboard')">
              <li *ngFor="let item2 of permissoesFiltradas">
                <a *ngIf="item.id == item2.permissaoPai?.id" href="{{ item2.url }}">{{ item2.descricao }}</a>
              </li>
            </ul>
          </li>
        </ul>
  </div>
</nav>
