<div id="wrapper">
  <app-menu></app-menu>

    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <!-- NAVE -->
        <app-barra-de-menu></app-barra-de-menu>
      </div>

      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tabela de registros retornados da base de dados</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class='table table-striped table-bordered table-hover dataTables-example'>
                              <thead>
                                <tr>
                                  <th>Código</th>
                                  <th>Data do acesso</th>
                                  <th>Cliente</th>
                                  <th>Usuário</th>
                                  <th>Foto</th>
                                  <th>Email</th>
                                  <th>Perfil</th>
                                  <th>IP</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class='gradeX'>
                                  <td>2892</td>
                                  <td>21/05/2020 17:11</td>
                                  <td>Tecnisys</td>
                                  <td>Alessandra</td>
                                  <td> sem foto</td>
                                  <td>gmferreira1982@gmail.com</td>
                                  <td>Usuário</td>
                                  <td>10.168.252.103</td>
                                  <td>
                                    <b class='text-info'>Ativado</b>
                                  </td>
                                </tr>
                                <tr class='gradeX'>
                                  <td>2872</td>
                                  <td>21/05/2020 12:03</td>
                                  <td>Tecnisys</td>
                                  <td>Alessandra</td>
                                  <td> sem foto</td>
                                  <td>gmferreira1982@gmail.com</td>
                                  <td>Usuário</td>
                                  <td>10.168.252.103</td>
                                  <td>
                                    <b class='text-info'>Ativado</b>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
