<div id="wrapper">
  <app-menu></app-menu>

    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <!-- NAVE -->
        <app-barra-de-menu></app-barra-de-menu>
      </div>

      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tabela de registros retornados da base de dados</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class='table table-striped table-bordered table-hover dataTables-example'>
                              <thead>
                                <tr>
                                  <th>Código</th>
                                  <th>Data do acesso</th>
                                  <th>Usuário</th>
                                  <th>Foto</th>
                                  <th>Email</th>
                                  <th>Perfil</th>
                                  <th>IP</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class='gradeX' *ngFor="let item of historicoAcessoDTO">
                                  <td>{{ item.id }}</td>
                                  <td> {{ item.dataAcesso | date: 'dd/MM/y HH:mm' }} </td>
                                  <td>{{ filtraInfoUser('usuario', item.usuarioId) }}</td>
                                  <td>
                                    <img
                                      *ngIf="filtraInfoUser('img', item.usuarioId) !== null"
                                      src="{{baseUrlServidor}}/{{ filtraInfoUser('img', item.usuarioId) }}"
                                      alt=""
                                      style="width: 50px; height: 50px; border-radius: 50%;"
                                    >
                                    <p *ngIf="filtraInfoUser('img', item.usuarioId) === null">Sem foto</p>

                                  </td>
                                  <td>{{ filtraInfoUser('email', item.usuarioId) }}</td>
                                  <td>{{ filtraInfoUser('perfil', item.usuarioId) }}</td>
                                  <td> {{ item.loginIp }} </td>
                                  <td>
                                    <b class='text-info'>{{ filtraInfoUser('status', item.usuarioId) === '1' ? 'Ativado': 'Desativado' }}</b>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
