<div id="wrapper">
  <app-menu></app-menu>

    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <!-- NAVE -->
        <app-barra-de-menu></app-barra-de-menu>
      </div>
      <h1> Lista de Usuário</h1>

      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Data Nascimento</th>
        <th>Ação</th>
      </tr>
      <tr *ngFor="let user of usuarios">
        <td>{{ user.nome }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.dataNascimento | date: 'd/MM/yyyy'}}</td>
        <td>
          <button class="btn-primary btn-outline" type="button"> <i class="fa fa-edit"></i> Edit</button>
          <button class="btn-danger btn-outline" type="button"> <i class="fa fa-trash"></i> Delete</button>
        </td>
      </tr>
    </div>
</div>
