<div class="body">
  <div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">MSC+</h1>
        </div>
        <h3>Bem-Vindo ao MSC+</h3>

        <p>Informe seu e-mail e senha para acesso!</p>
        <form [formGroup]="form" novalidate>
            <div class="form-group">
                <input
                  type="email"
                  formControlName="login"
                  class="form-control input-underline input-lg"
                  id="email"
                  placeholder="Nome de usuário">
              </div>
            <div class="form-group">
              <input type="password" formControlName="senha" class="form-control input-underline input-lg" id="senha" placeholder="Senha">
            </div>
            <button type="button" (click)="logar()" class="btn btn-primary block full-width m-b">Logar</button>

            <a href="/login/forgot"><small>Esqueci minha senha?</small></a>
        </form>

  <!-- Mainly scripts -->
  <script src="../../../../../../assets/js/jquery-3.1.1.min.js"></script>
  <script src="../../../../../../assets/js/bootstrap.min.js"></script>
</div>
