<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">

        <!-- PERFIL DE USUARIO LOGADO -->

        <li class="nav-header">
              <div class="dropdown profile-element"> <span>
                      <img alt="image" class="img-circle" src="/api/imagensProfile/usuario1.jpg" style="width: 70px; height: 70px;"/>
                       </span>
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ usuario.nome }}</strong>
                       </span> <span class="text-muted text-xs block">{{ usuario.perfil?.nome }} <b class="caret"></b></span> </span> </a>
                  <ul class="dropdown-menu animated fadeInRight m-t-xs">
                      <li><a href="profile.html">Profile</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="mailbox.html">Mailbox</a></li>
                      <li class="divider"></li>
                      <li><a routerLink="[/login]">Logout</a></li>
                  </ul>
              </div>
              <div class="logo-element">
                  MSC+
              </div>
          </li>

          <!-- MENU LATERAL -->
          <li class="active">
            <a href="http://localhost:4200/dashboard"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
          </li>
          <li>
              <a href="index.html"><i class="fa fa-user"></i> <span class="nav-label">Usuario</span> <span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                  <li><a href="index.html">Consultar</a></li>
                  <!-- <li class="active"><a href="dashboard_2.html">Dashboard v.2</a></li> -->
                  <li><a href="dashboard_3.html">Cadastrar</a></li>
              </ul>
          </li>
          <li>
            <a href="index.html"><i class="fa fa-users"></i> <span class="nav-label">Perfil</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="index.html">Consultar</a></li>
                <!-- <li class="active"><a href="dashboard_2.html">Dashboard v.2</a></li> -->
                <li><a href="dashboard_3.html">Cadastrar</a></li>
            </ul>
        </li>
        <li *ngFor="let menu of usuario.perfil?.permissoes">
          <a href="http://localhost:4200{{ menu.url }}"><i class="fa fa-home"></i> <span class="nav-label"> {{ menu.descricao }} </span></a>
        </li>

      </ul>

  </div>
</nav>
